body {
  padding: 0;
  margin: 0;
  
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  transition: all 0.15s;
}
*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  
}
.width{
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 5rem;
}
.hero{
  max-width: 100%;
  width: 100%;
  
 
 
  
}
.home-background{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    position: relative;
    margin-bottom: 102px;
    background-image: url('./images/home-page.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
}
.left-text{
 
  width: 100%;
 
  
}
.text-flex{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  
  width: 50%;
}
h1 {
  font-size: 67px;
  
  font-weight: 500;
  width: 80%;
  letter-spacing: 2px;

}

.wrap {
  height: 70px;
  position: relative;
}
.deliv {
  opacity: 9;
  transition: none;
  position: absolute;
  top: 0;
  color: #019bcb;
  font-weight: 900;
  white-space: nowrap;
}
.acce {
  opacity: 1;
  transition: none;
  position: absolute;
  top: 0;
  color: rgb(14, 99, 244);
  font-weight: 900;
  white-space: nowrap;
}
.texts {
  font-size: 18px;
  text-transform: initial;
  font-weight: 400;
  line-height: 2;
  width: 70%;
  padding-top: 4px;
}
 .span {
  white-space: nowrap;
  max-width: 115px;
  height: 4px;
  font-style: normal;
  font-size: 15px;
  align-items: center;
  padding: 18px 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: all 0.2s;
  transform: scale(1);
  background:#1866ee ;
  color: #fff;
  justify-content: center;
  border-radius: 50px;
  
}
.home-background .btn{
  margin-top: 23px;
  cursor: pointer;
}
.span:hover{
  background: #114aad;
}


.numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 619px;
  position: absolute;
  
  right: 3rem;
  bottom: calc(1.5rem * -1);
  border-radius: 90.5px;
  height: 110px;
  padding: 8px 63px;
  background: linear-gradient(93.23deg, #0e63f4 10.09%, #19badf 95.92%);
}
.order-num {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  
}
.span-num{
font-size: 36px;
font-weight: 400;

}
.text-num{
font-size: 17px;
font-weight: 600;
text-transform: capitalize;

}

/*   banner 2*/
.flex{
  display: flex;
  flex-direction: row;
 
 
}
  .flex-text h2{
  font-size: 45px;
  font-weight: 300;
  }
  .flex-text p{
    font-size: 21px;
    font-weight: 100;
    letter-spacing: 1;
    line-height: 1.7;
    padding-bottom: 20px;
  }
  .flex-text .span{
    margin-top: 5rem;
    white-space: nowrap;
  max-width: 115px;
  height: 4px;
  font-style: normal;
  font-size: 16px;
  align-items: center;
  padding: 15px 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  border-radius: 45px;
  }
  .flex .image{
    padding-top: 55px;
  }

  /*=============== gride===============*/
  .flex-2{
    margin-top: 13rem;
    
  }
  .flex-2 h1{
   text-align: center;
   font-weight: 350;
   font-size: 60px;
   letter-spacing: 1px;
  }
  .spans{
    color: #114aad;
  }
  .grid{
    margin-top: 0.5rem;
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    
  }
  .grid div img{
    display: block;
    width: 35px;
    height: 36px; fill: none;
    color: #0e63f4;
    align-items:center ;
  }
  
  .grid .img-align{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    border-radius: 15px; padding: 14px; height: 62px; background: #ffffff;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.02), 0px 2px 3px rgba(0, 0, 0, 0.04),
     0px 7px 6px rgba(0, 0, 0, 0.02), 0px 13px 24px 8px rgba(0, 0, 0, 0.03);

  }
  
  .grid .shadow{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    min-width: 284px;
    background: #FFFFFF;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.02), 0px 2px 3px rgba(0, 0, 0, 0.04), 0px 7px 6px rgba(0, 0, 0, 0.02),
     0px 13px 24px 8px rgba(0, 0, 0, 0.03);
    height: fit-content;
    min-height: 300px;
    border-radius: 15px;
    padding: 16px;
    line-height: 150%;
    color: #040e20;
  }
  .grid div h2{
  
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.33;
    font-size: 16px;
    font-weight: 700;
    color: #114aad;

}
  .grid div p {
    font-size: 16px;
    text-transform: initial;
    line-height: 150%;
    color: #040E20;
    font-weight: 400;
    text-align: center;
}

/*==================big circle============================*/
.flex-3{
  display: flex; flex-direction: row; align-items: flex-start; width: 100%; margin-top: 50px;
}
.flex-box{
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
    width: 32rem;
    height: 32rem;
    border-radius: 9999px;
    background: #3674e0;
    
    color: #FFFFFF;
}
.flex-box span{
  font-size: 75px;
 font-weight: 350;
 line-height: 76px;
}
.flex-box .flex-number{
  font-size: 2.5rem;
  line-height: 150%;
}
.flex-3-text{
    text-align: left;
    padding-left: 30px;
   
}
.flex-3-text h2{
  font-size: 50px;
  color: #040E20;
  font-weight: 500;
  
  letter-spacing: 4px;
}
.flex-3-text p{
  font-size: 21px; font-weight: 400; letter-spacing: 1px; line-height: 1.3;
}
.btn-span{
  position: relative; padding: 14px 32px; background: #0e63f4; font-size: 16px; border-radius: 50px;
}
.btn-span a{
  color: #FFFFFF;
  letter-spacing: 1.5spx;
}
/*.flex-3{
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
  
}
.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
    width: 42rem;
    height: 42rem;
    border-radius: 9999px;
    background: #3674e0;
    flex-direction: column;
    color: #FFFFFF;
}
.flex-box span{
  font-size: 75px;
 font-weight: 350;
 line-height: 76px;
}
.flex-box .flex-number{
  font-size: 2.5rem;
  line-height: 150%;
}
.flex-3-text{
    display: flex;flex-direction: column;
    align-items: flex-start;
}
.flex-3-text h2{
  font-size: 54px;
  color: #040E20;
  font-weight: 500;
  width: 100%;
  letter-spacing: 3px;
}
.flex-3-text p{
  font-size: 26px; font-weight: 400; line-height: 1.5;
}
.flex-3-text .span{
  min-width: 147px;
  height: 4px;
  font-size: 15px;
  font-weight: 400;
  background: #1866ee;
    border-radius: var(--chakra-radii-full);
    cursor: pointer;
    justify-content: center;
    padding: 30px;
}*/

 
  

